* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Risque', cursive; */
  /* font-family: 'Pacifico', cursive; */
}
.container {
  /* border: 2px solid #000; */
  width: 1140px;
  margin: 0 auto;
}
header {
  background-color: beige;
  height: 150px;
  background-size: cover;
}
.logo {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.logo_link {
  padding: 20px;
  width: 50vw;

}
.pic_logo{
  width: 20%;
  
}
/* nav */
.block_nav {
  height: 50px;
  margin-top: 0px;
  background: #1d1018;
  opacity: 0.8;
  padding: 5px;

}
.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff !important;
  padding: 0px; 
  margin-right: 50px; 
} 
.navbar-light .navbar-collapse .navbar-nav .nav-item .nav-link:last-child() {
  margin-right: 0px; 
} 
.navbar-nav {
  margin: 0 auto;

}
/* desk */
.caption {
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #C81D1D;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.dop_caption {
  color: #1d1018;
  padding: 10px;
  padding-left: 0px;
  letter-spacing: 0.5px;
  color: #23282b;
  font-style: italic;
}
.desk_pic {
  width: 100%;
  text-align: center;
}
.desk_pic img{
  width: 50%;
  padding: 10px;
  padding-bottom: 30px;
}
.info_link {
  color: #C81D1D;
}
.info_link:hover {
  text-decoration: none;
  color: #ff3867;
}
/* visit */
.visit {
  text-align: center;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
  margin: 0 auto;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {color: #6699ff;}
.btn {
  margin-top: 1.5em;
  border: 1px solid #ED2E2E;
  box-sizing: border-box;
  font-weight: 600;

}
.btn-visit {
  margin-top: 10px;
}
.footnote {
  color: #828282;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.5px;
  /* border-top: 1px solid #6678b1; */
  padding-top: 10px;
  padding-bottom: 10px;
}
/*  */
/* doctors */
.doctors {
  background-color: beige;
  padding-bottom: 10px;
}
.doc_size {
  width: 300px;
}
.doc_size  .card {
  /* width: 100%; */
  width: 300px;
}
.card-title {
  padding: 10px;
  padding-bottom: 0px;
  color: #C81D1D;
}
.card-text {
  padding: 10px;
}
.doc_caption {
  padding: 20px;
  padding-left: 0px;
}
/*  */
/* footer */
footer {
  /* background-color: #c6c8ca; */
  background: #c76574;
}
.footer_section1{
  padding: 10px;
  text-align: center;
}
.list-group-item-primary {
  background: none;
  color: #F6FBFF;
  font-weight: 300;
  border: none;
}
.footer_none {
  display: none;
}
.footer_flex {
  display: flex;
  display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.list-group-caption {
  font-size: 1.2rem;
  color: #641c34;
  font-weight: 600;

}
.footer_section2 {
  background: #1d1018;
  opacity: 0.8;
  /* background: #641c34; */
  color: #F6FBFF;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}
.footer_section2 p{
  padding-top: 15px;
  padding-bottom: 0;
}
.footer_section2 {
  margin-right: 0px;
}
/*  */
/*  */

@media(min-width: 800px) {
  .none {
    display: none;
    
  }

}
/* мобильная версия 600px */
@media(max-width: 600px) {

  .card_name {
    height: 100%;
    font-size: 12px;
    padding-top: 5px;
  }
  .btn {
    margin-top: 5px;
  }
  #btn-visit{
    display: none;
  }
.mycard {
  width: 60vw;
  
}
.mycard-group {
  display: flex;
  justify-content: center;
  
}

.card-group > .card {
  margin-bottom: 0px;
}
.none {
  display: none;
}
.info_block_desc h5 {
  width: 100vw;
  letter-spacing: 0.03em;
  color: #C81D1D;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px; 
}
.card_reviews {
  height: 80vh;
  padding: 5px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.card_reviews div {
  margin-top: 10px;
}
.pic_logo{
  width: 45vw;
}
.logo_contact {
  font-size: 14px;
  padding: 20px;
  margin-bottom: 10px;
}
.lg_2{
  font-size: 10px;
  margin-top: -10px;
}
.caption_h1 {
  font-size: 24px;
  line-height: 36px;
}

.block_nav {
  display: none;
}
header {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
body {
  overflow-x:hidden;
}
.container {
  width: 100vw;
}
.caption {
  font-size: 24px;
  line-height: 28px;
  padding-left: 0px;
}
.caption h2{
  font-size: 24px;
  line-height: 28px;
}
.caption .dop_caption{
  font-size: 18px;
  line-height: 24px;
}
.desk_pic{
  margin-left: -10px;
}
.desk_pic img{
  width: 90%;
  padding: 0px;
  padding-bottom: 10px;
  margin-left: -10px;
}


}

@media screen and (min-width:550px) and (max-width:760px){
  .doc_size .card {
    width: 500px;
}
.none {
  display: none;
}
.block_nav {
  display: none;
}
.pic_logo {
  width: 50%;
}
  
}
@media screen and (min-width:760px) and (max-width:850px){
  .doc_size{
    width: 100vw;
}
  .doc_size .card {
    width: 26vw;
}
.none {
  display: none;
}
.block_nav {
  display: none;
}
.pic_logo {
  width: 50%;
}
.pic_logo {
 padding-bottom: 10px;
}
header {
  height: 170px;
}
}